:root {
	--blue-clr: #6F9FFF;
	--dark-clr: #424656;
	--gray-clr: #A6ABBD;
	--pink-clr: #FA768F;
	--dark-blue-clr: #596C9E;
}

body {
	/*background: var(--dark-blue-clr);*/
	background: linear-gradient(
		90deg, 
		var(--dark-blue-clr),
		var(--blue-clr),
		var(--blue-clr),
		var(--blue-clr),
		var(--dark-blue-clr));
	
}

header {
	font-family: "AppleGothic";
	position: relative;
}

.user-bar {
	position: absolute;
	display: flex;
	justify-content: right;
	width: 100%;
	top: 100%;
	right: 0;
}

.container {
	/*background: linear-gradient(
		90deg, 
		var(--dark-blue-clr),
		var(--blue-clr),
		var(--blue-clr),
		var(--blue-clr),
		var(--dark-blue-clr));*/
	padding: 0;
	
	height: 80%;
}

nav {
	background: var(--dark-clr);
}

a {
	color: rgba(255,255,255,.55);
}

.input-container label {
	display: block;
	margin-top: .75rem;
}

.reg-error {
	color: darkred;
	font-size: 16px;
	font-style: italic;
}

.ken-bg-blue {
	background: var(--blue-clr);
}

.ken-bg-gray {
	background: var(--gray-clr);
}

.ken-bg-pink {
	background: var(--pink-clr);
}

.ken-bg-black {
	background: var(--dark-clr);
}

.ken-bg-dark-blue {
	background: var(--dark-blue-clr);
}