<%- include('../partials/header.ejs') %>
<script type="text/javascript" src="/js/recipeUtil.js" defer></script>
<h1 class="p-5 pb-8">New Recipe</h1>
	<div class="card w-50 align-items-center p-3">
		<form class="w-100" method="POST" action="/recipes">
			<div class="input-container">
				<label for="name">Name</label>
				<input class="w-100" type="text" name="name" id="name" autofocus required>
			</div>
			<div class="input-container">
				<label for="ingredient-selector">Ingredients</label>
				<div class="ingredient-container">
					<div class="ingredient-selector-input">	
						<input class="w-100" list="ingredient-selector" id="ingredient-selector-input">
						<button type="button" class="w-100" id="add-ingredient-btn">Add Ingredient to Recipe</button><br>
					</div>
					<div class="ingredient-selector-display w-100">
						<select multiple disabled>
							
						</select>
					</div>
					<datalist name="ingredient-selector" id="ingredient-selector">
						<%- util.buildIngredientOptions(ingredients) %>
					</datalist>
				</div>	
			</div>
			<div class="input-container">
				<label for="steps">Directions</label>
				<textarea id="steps" name="steps" class="w-100" required></textarea>
			</div>
			<button type="submit" class="btn btn-primary w-100 mt-2">Add Recipe</button>
		</form>
	</div>
<%- include('../partials/footer.ejs') %>